html {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
@font-face {
    font-family: istokweb_regular;
    src: url(/assets/fonts/istokweb/istokweb-regular-webfont-bad40b3bfa.eot);
    src: url(/assets/fonts/istokweb/istokweb-regular-webfont-bad40b3bfa.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/istokweb/istokweb-regular-webfont-a6b00856ea.woff) format("woff"), url(/assets/fonts/istokweb/istokweb-regular-webfont-bcaf1d252f.ttf) format("truetype"), url(/assets/fonts/istokweb/istokweb-regular-webfont-ec90a3a65e.svg#istokweb_regular) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: istokweb_bold;
    src: url(/assets/fonts/istokweb/istokweb-bold-webfont-bbd289b62b.eot);
    src: url(/assets/fonts/istokweb/istokweb-bold-webfont-bbd289b62b.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/istokweb/istokweb-bold-webfont-9a6b7bf241.woff) format("woff"), url(/assets/fonts/istokweb/istokweb-bold-webfont-7f295368d0.ttf) format("truetype"), url(/assets/fonts/istokweb/istokweb-bold-webfont-49a4cc1484.svg#istokweb_bold) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Oswald-Regular;
    src: url(/assets/fonts/oswald/oswald-regular-webfont-931609e844.eot);
    src: url(/assets/fonts/oswald/oswald-regular-webfont-931609e844.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/oswald/oswald-regular-webfont-c63a279c04.woff) format("woff"), url(/assets/fonts/oswald/oswald-regular-webfont-79121d4c83.ttf) format("truetype"), url(/assets/fonts/oswald/oswald-regular-webfont-75fb13d0be.svg#oswaldregular) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Oswald-Light;
    src: url(/assets/fonts/oswald/oswald-light-webfont-88d02bd965.eot);
    src: url(/assets/fonts/oswald/oswald-light-webfont-88d02bd965.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/oswald/oswald-light-webfont-5e4e799710.woff) format("woff"), url(/assets/fonts/oswald/oswald-light-webfont-326615ca34.ttf) format("truetype"), url(/assets/fonts/oswald/oswald-light-webfont-9c27c0cc07.svg#oswaldlight) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Oswald-Bold;
    src: url(/assets/fonts/oswald/oswald-bold-webfont-7bf87061b8.eot);
    src: url(/assets/fonts/oswald/oswald-bold-webfont-7bf87061b8.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/oswald/oswald-bold-webfont-0cf8564d8a.woff) format("woff"), url(/assets/fonts/oswald/oswald-bold-webfont-aeed92ccac.ttf) format("truetype"), url(/assets/fonts/oswald/oswald-bold-webfont-5b7c81938e.svg#oswaldbold) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: MinionPro-Regular;
    src: url(/assets/fonts/minion/minionpro-regular-6d9c4b8652.eot);
    src: url(/assets/fonts/minion/minionpro-regular-6d9c4b8652.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/minion/minionpro-regular-d7f6126e46.woff) format("woff"), url(/assets/fonts/minion/minionpro-regular-10f6a18a64.ttf) format("truetype"), url(/assets/fonts/minion/minionpro-regular-cc6c1f1aaa.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: new-athena-unicode;
    src: url(/assets/fonts/new-athena-unicode/new-athena-unicode-62e949dd0f.eot);
    src: url(/assets/fonts/new-athena-unicode/new-athena-unicode-62e949dd0f.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/new-athena-unicode/new-athena-unicode-7dff1e74f2.woff) format("woff"), url(/assets/fonts/new-athena-unicode/new-athena-unicode-e7e1315ab3.ttf) format("truetype"), url(/assets/fonts/new-athena-unicode/new-athena-unicode-b0752d68b1.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Bebasneue;
    src: url(/assets/fonts/bebasneue/bebasneue-webfont-d6879f963d.eot);
    src: url(/assets/fonts/bebasneue/bebasneue-webfont-d6879f963d.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/bebasneue/bebasneue-webfont-02ee1a993a.woff) format("woff"), url(/assets/fonts/bebasneue/bebasneue-webfont-5fb5b7a41c.ttf) format("truetype"), url(/assets/fonts/bebasneue/bebasneue-webfont-edce280ee2.svg#bebas_neueregular) format("svg");
    font-weight: 400;
    font-style: normal;
    -ms-font-feature-settings: "normal";
    font-feature-settings: "normal"}
@font-face {
    font-family: Bebasneue-book;
    src: url(/assets/fonts/bebasneue/bebasneue_book-webfont-e3904040d0.eot);
    src: url(/assets/fonts/bebasneue/bebasneue_book-webfont-e3904040d0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/bebasneue/bebasneue_book-webfont-08e6057bd1.woff) format("woff"), url(/assets/fonts/bebasneue/bebasneue_book-webfont-136bfbf14c.ttf) format("truetype"), url(/assets/fonts/bebasneue/bebasneue_book-webfont-9e8a9dfc3a.svg#bebas_neuebook) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Bebasneue-light;
    src: url(/assets/fonts/bebasneue/bebasneue_light-webfont-3ffd75f03a.eot);
    src: url(/assets/fonts/bebasneue/bebasneue_light-webfont-3ffd75f03a.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/bebasneue/bebasneue_light-webfont-56f1b05f3f.woff) format("woff"), url(/assets/fonts/bebasneue/bebasneue_light-webfont-6de4e741b5.ttf) format("truetype"), url(/assets/fonts/bebasneue/bebasneue_light-webfont-290315e4d9.svg#bebas_neuelight) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: icon;
    src: url(/assets/fonts/icon/icomoon-d2bfd2e77c.eot?100);
    src: url(/assets/fonts/icon/icomoon-d2bfd2e77c.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/icon/icomoon-1483d7be4b.woff?100) format("woff"), url(/assets/fonts/icon/icomoon-41bc375165.ttf?100) format("truetype"), url(/assets/fonts/icon/icomoon-fc4969979f.svg#icomoon?100) format("svg");
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
}
.lo-login {
    padding: 0 5rem;
    width: 50%;
    float: left;
}
@media screen and (max-width:768px) {
    .lo-login {
    padding-top: 5rem;
    width: 100%;
    padding: 0;
}
}.lo-login h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
}
.lo-login h2 {
    font-size: 1.4rem;
    color: #6e6e6e;
    font-weight: 300;
}
.lo-login--form {
    background-color: transparent;
    border: none;
    margin: 0;
}
.lo-login--form input[type=password], .lo-login--form input[type=text] {
    color: #2d2926;
}
.lo-login--form label {
    font-size: 1.3rem;
}
.lo-login--form span.lo-forgot-password {
    float: right;
}
.lo-login--form__main {
    color: #6e6e6e;
    padding: 2rem 0 0;
}
.lo-register__text {
    text-align: center;
}